header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  margin: 0 auto;
  margin-top: 1em;
  background-color: blue;
  border-radius: 50px;
}

button, input {
  font-size: 1.5rem;
  margin: .5em;
  width: 300px;
  height: 50px;
}

Item {
  background-color: red;
  color: red;
}